## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [5]:
# Your code here - remember to use markdown cells for comments as well!
import matplotlib.pyplot as plt
plt.style.use('seaborn-v0_8-whitegrid')
import numpy as np
import pandas as pd
import scipy.stats as stats
import seaborn as sns
import statsmodels.api as sm
import sqlite3

import warnings
warnings.filterwarnings('ignore')

In [11]:
conn = sqlite3.Connection('Eduardo'/'zippeddata'/im.db)

NameError: name 'Eduardo' is not defined

In [ ]:
q0 = """
SELECT 
FROM im
;
"""

pd.read_sql(q0, conn)